
<p>Počátky kapely se datují zhruba do roku 1962, kdy vzniká Taneční orchestr ZV ROH n.p. Autobrzdy v <a href="http://www.mesto-rakovnik.cz/" target="_blank">Rakovníku</a>. V orchestru se během let vystřídalo velké množství muzikantů. Na přelomu 70. a 80. let vznikl současný název Kampanus, který nahradil původní nepraktický název. Jak šel čas, měnilo se obsazení kapely i její zřizovatelé. Původní bohatá dechová sekce se postupně zúžila a naopak přibyly nástroje, které dříve zastoupeny nebyly. Dnes je Kampanus zcela samostatnou kapelou s deseti členy, z nichž třetinu tvoří dechová sekce, dále rytmická sekce (bicí, basová a elektrická kytara), el. klavír/klávesy a několik zpěvů. Kapela vystupuje převážně na rakovnicku, hraje na plesech, svatbách, oslavách a dalších akcích.</p>
