<table>
    <tbody>
    {foreach $actions as $key => $action}
        <tr>
            <td align="right">{$action['date']}</td>
            <td>{$action['title']}</td>
        </tr>
    {/foreach}
    </tbody>
</table>